@tailwind base;
@tailwind components;
@tailwind utilities;    

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.sign-nav-list .active {
  color: #4461F2;
  padding: 6px 15px;
  border-radius: 12px;
  box-shadow: 0 2px 15px -4px rgba(0, 0, 0, 0.1);
  border: 1px solid #bbbbbb;
}

.continue-with::after,
.continue-with::before {
  content: "";
  background-color: #e7e7e7;
  height: 1px;
  width: 125px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.continue-with::after {
  left: 100%;
}

.continue-with::before {
  right: 100%;
}


/* Submit Button Spinner */

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-right-color: #474bff;
  animation: spinner-a4dj62 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
  margin: 8.9px;
  animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
  100% {
     transform: rotate(1turn);
  }
}