@tailwind base;
@tailwind components;      
@tailwind utilities; 

:root {
  --background: #ffffff;
  --foreground: #171717;
  --mainground: #4461f2;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #fbf9f9;
}

.sign-nav-list .active {
  color: #4461F2;
  padding: 6px 15px;
  border-radius: 12px;
  box-shadow: 0 2px 15px -4px rgba(0, 0, 0, 0.1);
  border: 1px solid #bbbbbb;
}

.continue-with::after,
.continue-with::before {
  content: "";
  background-color: #e7e7e7;
  height: 1px;
  width: 125px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.continue-with::after {
  left: 100%;
}

.continue-with::before {
  right: 100%;
}


/* Submit Button Spinner */

.spinner {
  width: 56px;
  height: 56px;
  display: grid;
  border: 4.5px solid #0000;
  border-radius: 50%;
  border-right-color: #474bff;
  animation: spinner-a4dj62 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2.2px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
  margin: 8.9px;
  animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
  100% {
     transform: rotate(1turn);
  }
}

/****************************/
 input[type="radio"] {
  appearance: none;
  -webkit-appearance: none; 
  -moz-appearance: none;
  width: 10px;
  height: 10px;
  border: 1px solid var(--mainground);
  border-radius: 50%;
  outline: none;
  cursor: pointer;
  background-color: #EDEFF3;
}


input[type="radio"]:checked {
  background-color: var(--mainground);
  outline: 2px solid  var(--mainground);
}


/* .progress-circle {
  background: conic-gradient(#4CAF50 0% 60%, #FF5722 60% 100%);
} */